## [Start] Setting "isFree" to default value of "false". **
$util.qr($context.args.input.put("isFree", $util.defaultIfNull($ctx.args.input.isFree, false)))
## [End] Setting "isFree" to default value of "false". **
{}